[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pyocr = "*"
pypdf2 = "*"
pdf2image = "*"
jpndlpy = "*"
requests = "*"
xmltodict = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
